- add_crumb("Polls", polls_path)
- add_crumb("Editing Poll", edit_poll_path(@poll))

= title_block("Editing poll")

- form_for(@poll, :builder => CcwFormBuilder) do |f|
  = f.error_messages
    
  = f.hidden_field :created_by_id, :value => current_user.id
  = f.text_field :name
  
  = box("Ending At:") do
    = calendar_date_select_tag "poll[ends_at]", @poll.ends_at, :popup => "force"   
  
  = f.text_area :description
  
  = box("Candidates") do
    #options
      - @poll.options.each do |option|
        = render :partial => 'option_form', :locals => {:option => option}
      
    %br
    = add_option_link(@poll, "Add an option")
  
  %p
    = f.submit "Save"
    == -or-
    = link_to "Cancel", polls_path